@{
    Layout = null;
}

<div class="cookie-message">
	<div class="wrap">
    	<p>Ta strona używa plików Cookie. Korzystając ze strony wyrażasz zgodę na używanie Cookie, zgodnie z aktualnymi ustawieniami używanej przeglądarki - <a href="/Static/PolitykaPrywatnosci">Polityka Cookies</a></p>
	</div>
</div>

<script>
    $(function () {
        $('.cookie-message').cookieBar();
    });
</script>
