@if (ViewBag.Result)
{
    <p>Pomyślnie zmieniono hasło. @Html.ActionLink("Zaloguj się", "Login") używając nowego hasła.</p>
}
else
{
    <p>Nie udało się zmienić hasła. Spróbuj powtórzyć proces. Jeśli błąd będzie się powtarzał - skontaktuj się z obsługą serwisu.</p>
}