@if (ViewBag.Result)
{
    <p>Na podany email (@ViewBag.Email) zostały wysłąne dalsze instrukcje. Odbierz wiadomość i postępuj wgedług nich.</p>
}
else
{
    <p>Nie znaleziono konta o podanym adresie Email. @Html.ActionLink("Spróbuj ponownie", "PasswordReset").</p>
}