@{
    ViewBag.Title = "Wylogowanie";
}

<h2>Wylogowanie</h2>

<p class="info-register-success">Pomyślnie wylogowano z serwisu. @Html.ActionLink("Przejdź do strony głównej", "Index", "Home")</p>

<script>updateLoginStatus();</script>
