@model Wczasy24_MVC4.Models.Place

@{
    ViewBag.Title = Model.Name;
}

<div class="main right">
    <section class="object row">
        <p class="object_locked">
            Ten obiekt jest tymczasowo niedostępny. Spróbuj innym razem. <a href="javascript:history.back()">Powrót</a>
        </p>
    </section>
</div>

