@{
	ViewBag.Title = "Atrakcje Regionów";
}

<section id="atrakcje-regionow">
    <h2>Atrakcje regionów</h2>

    <div class="attractions-wrap">
        <!--            Mrągowo                 -->
        <div class="attraction-item active">
            <a href="#" class="accordion-trigger">
                <h3>Mrągowo</h3>      
            </a>
            <div class="content">
                <div class="images">
                    <a class="grasp" href="~/Images/atrakcje-regionow/1_1.jpg" data-lightbox="mragowo">
                        <img src="~/Images/atrakcje-regionow/1_1.jpg" />
                    </a>
                    <a class="grasp" href="~/Images/atrakcje-regionow/1_2.jpg" data-lightbox="mragowo">
                        <img src="~/Images/atrakcje-regionow/1_2.jpg" />
                    </a>
                    <a class="grasp" href="~/Images/atrakcje-regionow/1_3.jpg" data-lightbox="mragowo">
                        <img src="~/Images/atrakcje-regionow/1_3.jpg" />
                    </a>
                </div>
                <p class="bold">
                    „Wszystkie drogi prowadzą do Mrągowa. Do Mrągowa nad jezioro Czos. Kto tu raz przyjechał, nigdy nie żałował I na pewno wróci tu za rok.” Słynna piosenka, hymn Cezarego Makiewicza reklamuje największy w Polsce festiwal muzyki country, który co roku odbywa się właśnie w Mrągowie. Piknik Country & Folk to międzynarodowy festiwal, który corocznie, od 1983 roku, ściąga na przełomie lipca i sierpnia do Mrągowa tysiące fanów dobrej zabawy, muzyki i pozytywnych wibracji.
                </p>
                <p>
                    Formuła wydarzenia jest niezmienna od ponad 30 lat, ale spektrum artystów zapraszanych do tego pięknego miasta położonego w województwie warmińsko-mazurskim ewoluuje. Bowiem  nie tylko miłośnicy country  bawią się w słynnym amfiteatrze, odnowionym zaledwie dwa lata temu. Również fani rocka, bluesa, folku, bluegrass, a także rockabilly mogą liczyć na zabawę do białego rana. Organizatorzy festiwalu zapraszają rodzimych oraz zagranicznych wykonawców. Najsłynniejszymi muzykami, którzy zaszczycili deski amfiteatru w Mrągowie byli: Nocna Zmiana Bluesa, Krystyna Prońko, Zakopawer, Gienek Loska Band, czy zespół Wilki.
                </p>
                <p>
                    Prawdziwi Cowboye w przerwach festiwalowych emocji mogą udać się do Mrongoville. Jest to duża atrakcja regionu. Miasteczko stworzono na wzór filmów o Dzikim Zachodzie. Prawdziwa gratka dla fanów westernów.
                </p>
                <p>
                    Osoby, które  wolą aktywnie spędzać czas powinny udać się nad jezioro Czos. Turyści wybierają sporty wodne takie jak jachting, narty wodne, kajakarstwo, czy spinning. Zapaleni wędkarze przybywają tu co roku, by złowić niezwykłe okazy okonia, leszcza lub węgorza. Jezioro Czos charakteryzuje się również  bogatą i urozmaiconą linią brzegową. Mierzy ona około 15 km, co sprzyja organizowaniu najróżniejszych wycieczek.
                </p>
                <p>
                    Wokół Mrągowa są liczne trasy rowerowe. Najbardziej popularne to m.in. prowadzące do miejscowości Reszel, gdzie warto zobaczyć zamek biskupów warmińskich oraz do Świętej Lipki. Tam znajduje się „Perła baroku”, czyli słynne Sanktuarium w Świętej Lipce. Cała trasa liczy 60 km. Po drodze mija się wiele jezior, lasów, są też miejsca przystosowane do odpoczynku oraz kąpieliska.
                </p>
                <p>
                    Plażowicze i zwolennicy biernego spędzania czasu powinni udać się na spacer piaszczystą promenadą, od plaży orbisowskiej do plaży na os. Grunwaldzkim. Miejscową atrakcją jest także wyprawa w kierunku  Troszczykowa, gdzie niegdyś znajdował się tam słynny ośrodek wypoczynkowy,  należący  do PGR Szestno. Mieszkańcy Mrągowa zachwalają tutejszy widok na jezioro i leżące nieopodal miasto. Ich zdaniem krajobraz świetnie nadaje się na widokówki reklamujące region.
                </p>
                <p>
                    Udając się w stronę Mazur warto sprawdzić noclegi. Mrągowo słynie z licznych możliwości form pobytu. Od ośrodków wypoczynkowych, hoteli Spa & Wellness po apartamenty, czy domki letniskowe ulokowane tuż nad jeziorem. Wszystko zależy od budżetu przeznaczonego na wakacje i formy spędzania czasu.
                </p>
            </div>     
        </div>

        <!--            Trójmiasto                 -->
        <div class="attraction-item">
            <a href="#" class="accordion-trigger">
                <h3>Trójmiasto</h3>
            </a>
            <div class="content">
                <div class="images">
                    <a class="grasp" href="~/Images/atrakcje-regionow/2_1.jpg" data-lightbox="trojmiasto">
                        <img src="~/Images/atrakcje-regionow/2_1.jpg" />
                    </a>
                    <a class="grasp" href="~/Images/atrakcje-regionow/2_2.jpg" data-lightbox="trojmiasto">
                        <img src="~/Images/atrakcje-regionow/2_2.jpg" />
                    </a>
                    <a class="grasp" href="~/Images/atrakcje-regionow/2_3.jpg" data-lightbox="trojmiasto">
                        <img src="~/Images/atrakcje-regionow/2_3.jpg" />
                    </a>
                </div>
                <p class="bold">
                    Jeśli uwielbiasz zwiedzać zabytki i ciekawe miejsca, a wieczorami bawić się do upadłego w najlepszych klubach, to koniecznie zorganizuj wypad do Trójmiasta! Wystarczy dobrze zaplanować długi weekend, by zobaczyć i poczuć na własnej skórze to, co mają do zaoferowania miasta Gdańsk, Gdynia oraz Sopot.
                </p>
                <p>
                    Trzy aglomeracje leżą w północnej Polsce, nad Zatoką Gdańską i Pucką, w województwie pomorskim. Głównym ośrodkiem miejskim, jest Gdańsk. Od niego warto rozpocząć wycieczkę po regionie. Przede wszystkim poznać bogatą historię, ponad 1000 letniego miasta. Tu znajdował się jeden z najważniejszych szlaków handlowych w Europie, od czasów Średniowiecza. Co oczywiście do dziś widać w architekturze i zabytkach Gdańska.
                </p>
                <p>
                    Bogaci kupcy nie szczędzili grosza na stawianiu bogato zdobionych kamienic. Do najbardziej znanych, należą Dwór Artusa, Złota Kamienica, Nowy Dom Ławy, gdzie ze szczytowego okna codziennie o godz. 13.03 wygląda do przechodniów "Panienka z okienka", czyli ucharakteryzowana na XVII-wieczną panienkę młoda gdańszczanka. Jedną z najpiękniejszych kamieniczek, znajdujących się przy ul. Długiej jest Dom Uphagena, gdzie obecnie mieści się oddział Muzeum Historycznego Miasta Gdańska. Większość zabytków znajduje się przy trakcie Głównego Miasta, zwanym Drogą Królewską, którą otwiera Złota Brama. Sercem miasta jest Długi Targ, pełniący w XIII wieku rolę traktu kupieckiego. Tu znajduje się słynna Fontanna Neptuna. Starożytny bóg jest symbolem Gdańska.
                </p>
                <p>
                    Na przełomie lipca i sierpnia, w obrębie starówki odbywa się Jarmark Dominikański. To największa i najstarsza impreza w mieście, a dzięki swojej sławie zyskała miano jednej z największych w Europie. W  2013 r. przybyło aż 6,2 mln osób, aktywnie uczestniczących w wydarzeniach towarzyszących Jarmarkowi.
                </p>
                <p>
                    Miasto oferuje bogatą bazę hotelową. W informacji turystycznej dobrze zasięgnąć języka i dowiedzieć się jakie Gdańsk noclegi posiada.
                </p>
                <p>
                    Po udanym, pełnym atrakcji pobycie warto ruszyć do Gdyni, miasta portowego, w którym połączono funkcje handlowe, turystyczne i rozrywkowe. Główną atrakcją są dwa słynne okręty, otwarte dla zwiedzających, Dar Pomorza oraz ORP Błyskawica. Obiekty znajdują się przy Bulwarze Nadmorskim. 1500 metrowym deptakiem należy udać się na spacer w kierunku Mola Południowego.
                </p>
                <p>
                    Noclegi Gdynia oferuje turystom pod postacią hoteli, ale również pokoi gościnnych do wynajęcia lub apartamentów położonych w centrum miasta. 
                </p>
                <p>
                    Udana podróż po Trójmieście kończy się w kurorcie nadmorskim, Sopocie. Za dnia turyści zwiedzają atrakcje Monciaka, centrum miasta na ulicy Bohaterów Monte Cassino. To główny deptak uzdrowiska, całkowicie zamknięty dla ruchu drogowego. W tym miejscu najciekawszym i unikatowym budynkiem w skali kraju jest Krzywy Domek. Współczesny obiekt zadziwia nietypowym kształtem, od którego wzięła się jego nazwa. Wieczorem, zanim odkryje się noclegi, Sopot tętni życiem, które skupia się wokół plaży i najdłuższego, drewnianego molo w Europie.
                </p>
            </div>
        </div>

        <!--            Władysławowo                 -->
        <div class="attraction-item">
            <a href="#" class="accordion-trigger">
                <h3>Władysławowo</h3>
             </a>
            <div class="content">
                <div class="images">
                    <a class="grasp" href="~/Images/atrakcje-regionow/3_1.jpg" data-lightbox="wladyslawowo">
                        <img src="~/Images/atrakcje-regionow/3_1.jpg" />
                    </a>
                    <a class="grasp" href="~/Images/atrakcje-regionow/3_2.jpg" data-lightbox="wladyslawowo">
                        <img src="~/Images/atrakcje-regionow/3_2.jpg" />
                    </a>
                    <a class="grasp" href="~/Images/atrakcje-regionow/3_3.jpg" data-lightbox="wladyslawowo">
                        <img src="~/Images/atrakcje-regionow/3_3.jpg" />
                    </a>
                </div>
                <p class="bold">
                    Jeśli pragniesz spędzić wakacje nad polskim morzem, koniecznie rozważ propozycje wyjazdu do Władysławowa. Dzięki zapleczu turystycznemu możesz liczyć na noclegi, a Władysławowo słynie nie tylko z hoteli czy kwater, ale przede wszystkich z ośrodków położonych tuż nad samym brzegiem Bałtyku. W nich dostępne są pola namiotowe po przystępnej cenie, campingi oraz domki letniskowe przygotowane na przyjęcie dużych grup turystów. 
                </p>
                <p>
                    Miasto jest przyjazne rodzinom z dziećmi, oferując atrakcje tj. Lunapark Sowińskiego. W obiekcie znajduje się park linowy, tor gokartowy, karuzele oraz najróżniejsze opcje przeznaczone dla miłośników mocnych wrażeń. Pobyt dzienny w tym miejscu zagwarantuje moc niesamowitej zabawy i rozrywki dla każdego.
                </p>
                <p>
                    Do Władysławowa, które leży w północnej Polsce, w województwie pomorskim i słynie z portu morskiego oraz 15 kąpielisk nadmorskich, zjeżdżają amatorzy sportów wodnych. Przy odpowiednich warunkach pogodowych, czas im płynie na surfowaniu albo uprawianiu kitesurfingu. Przy ośrodkach wypoczynkowych działają liczne szkoły nauki windsurfingu. Z lekcji może skorzystać każda osoba, bez względu na wiek, wystarczy mieć duży zapał do pracy.  
                </p>
                <p>
                    Przy dobrej pogodzie można zażyć kąpieli słonecznych oraz pływać w słonych wodach Bałtyku. W przerwie na te czynności warto skosztować pysznych potraw serwowanych w okolicznych smażalniach ryb. Podstawą każdej wyprawy nad morze jest zjedzenie porcji dobrej ryby z frytkami i surówką z kiszonej kapusty. Amatorzy bardziej wykwintnych dań mogą przebierać w dużej ofercie restauracji z tradycyjną kuchnią polską lub międzynarodową.
                </p>
                <p>
                    Wieczorami, gdy ustaje upał i można rozkoszować się morską bryzą warto udać się na spacer po miejskiej promenadzie, która od 2000 roku nazywana jest aleją Gwiazd Sportu. Jest to pierwsza tego typu inicjatywa w Polsce, w pełni poświęcona krajowym i zagranicznym sportowcom. Powstała dzięki staraniom m.in. burmistrza Władysławowa,  Adama Drzeżdżona. Do tej pory swoje miejsce wśród uhonorowanych gwiazd znalazło aż 93 sportowców! W tym takie znane nazwiska jak: Władysław Komar (lekkoatleta), Jerzy Kulej (bokser), Wojciech Fibak (tenisista), czy Tomasz Majewski (lekkoatleta).
                </p>
                <p>
                    Do najważniejszych zabytków miasta należą Dom Rybaka, budynek z lat 50 tych XX wieku, pełniący pierwotnie rolę hotelu dla rybaków, obecnie jest to siedziba władz samorządowych. Wieża budynku stanowi punkt widokowy. Niższy taras położony jest na wysokości 45 m n.p.m., a wyższy, 63 m n.p.m.  Widać z niej całą panoramę miasta, morze, przylądek Rozewie, Zatokę Pucką i Mierzeję Helską. Kolejną atrakcją jest Latarnia Morska Rozewie, zbudowana w XVIII wieku, a  przebudowana w XIX. Obecnie w mieści się tu muzeum, które jest filią Centralnego Muzeum Morskiego w Gdańsku.
                </p>
                <p>
                    Bedąc we Władysławowie należy udać się do sąsiadujących miejscowości, do Chałup, Jastarni i na Hel.
                </p>
            </div>
        </div>

        <!--            Zakopane                 -->
        <div class="attraction-item">
            <a href="#" class="accordion-trigger">
                <h3>Zakopane</h3>
            </a>
            <div class="content">
                <div class="images">
                    <a class="grasp" href="~/Images/atrakcje-regionow/4_1.jpg" data-lightbox="zakopane">
                        <img src="~/Images/atrakcje-regionow/4_1.jpg" />
                    </a>
                    <a class="grasp" href="~/Images/atrakcje-regionow/4_2.jpg" data-lightbox="zakopane">
                        <img src="~/Images/atrakcje-regionow/4_2.jpg" />
                    </a>
                    <a class="grasp" href="~/Images/atrakcje-regionow/4_2.jpg" data-lightbox="zakopane">
                        <img src="~/Images/atrakcje-regionow/4_2.jpg" />
                    </a>
                </div>
                <p>
                    Czy wiesz, że Pamela Anderson, odwiedzając Polskę była niezwykle zaskoczona, widokiem typowych, cywilizowanych miast, gdyż spodziewała się białych niedźwiedzi przechadzających się po ulicach. Jej zdumienie było ogromne, lecz gdyby tylko zjawiła się w Zakopanem od razu zmieniłaby zdanie. Bowiem ten największy kurort wypoczynkowy słynie właśnie m.in. z atrakcji jaką jest zrobienie sobie zdjęcia z białym misiem. Nie jest to co prawda taki prawdziwy, polarny zwierz, ale przesympatyczny, stojący na dwóch łapach osobnik, który za symboliczną opłatą zapozuje z Tobą do zdjęcia. Jest to niesamowita pamiątka, dająca wiele radości i wspomnień.
                </p>
                <p>
                    Będąc w Zakopanem pamiętaj o tym, że Misia najszybciej spotkasz na Krupówkach. To jedna z najbardziej znanych ulic w Polsce, chętnie odwiedzana przez liczne grono turystów. Porównywana często do Monciaka w Sopocie. Długi, ponad kilometrowy deptak rozciąga się w stronę południa, wzdłuż potoku Foluszowego. Mieszczą się tu też najstarsze zakopiańskie hotele oraz liczne knajpy i restauracje. Możesz liczyć na znalezienie dobrego hotelu, czy hostelu gwarantującego dogodne noclegi. Zakopane słynie z możliwości zakosztowania noclegu u górali na tak zwanej kwaterze. To idealny sposób dla osób, które pragną skosztować tradycyjnej kuchni z Podhala oraz poznać tutejszy folklor.
                </p>
                <p>
                    Sympatycy zwiedzania powinni koniecznie zobaczyć zbiory Muzeum Tatrzańskiego im. Tytusa Chałubińskiego, które mieści się przy ul. Krupówki 10. Sama bryła budynku przykuwa uwagę, gdyż została zaprojektowana w stylu zakopiańskim, charakterystycznego tylko i wyłącznie dla tego regionu. Jej projektantami byli Stanisław Witkiewicz oraz Franciszek Mączyński. Jest to najstarsze i posiadające największą kolekcję historii Podhala i przyrody Tatr muzeum. Posiada aż cztery filie w Zakopanem! Min. Willa Koliba i galeria Hasiora.
                </p>
                <p>
                    Za muzeum znajduje się Górski Ogród Botaniczny, gdzie rośnie około 100 rodzajów drzew i krzewów górskich. Spacerując deptakiem nie sposób nie zauważyć kościoła św. Rodziny, którego jednym z architektów był Witkiewicz, twórca i propagator stylu zakopiańskiego. We wnętrzu kościoła znajdują się piękne, rzeźbione ławy, konfesjonał i ambony oraz imponujący, stary piec kaflowy. 
                </p>
                <p>
                    Idąc dalej Krupówkami można zauważyć niezwykły widok na góry Giewont. Ich wysokość sięga 1894 m n.p.m., a długość 2,7 km. Jego wierzchołek, Wielki Giewont, jest najwyższym szczytem w Tatrach Zachodnich położonym w całości na terenie Polski. W tym obszarze, na północnym stoku góry Krokiew, usytuowana jest największa skocznia narciarska w Polsce. To właśnie tu fani sportów zimowych mogą podziwiać skoczków biorących udział w Mistrzostwach Polski lub w zawodach o Puchar Świata.
                </p>
                <p>
                    Przyjeżdżając do Zakopanego nie można także ominąć przejazdu kolejką linowo-terenową, na szczyt Gubałówki. Ze szczytu roztacza się panorama miasta i górujące nad nim Tatry. Każdy ma możliwość zobaczyć Giewont i Kasprowy Wierch, a przy dobrej pogodzie również najwyższe szczyty Tatr Wysokich.
                </p>
                <p>
                    Osoby, które lubią piesze wycieczki oraz wspinaczkę górską powinny udać się na wyprawę do Doliny Pięciu Stawów Polskich. Atrakcją tego miejsca jest przede wszystkim Morskie Oko, największe jezioro w Tatrach. Widok, przede wszystkim ze szczytu Rysów robi ogromne wrażenie. Zakopane skrywa wiele cudownych miejsc, które czekają na turystów przez cały rok.
                </p>
            </div>
        </div>
    </div>
</section>
<script>
    var $body = $('html, body');
    /*
    $('.content').each(function () {
        var totalHeight = 0;
         
        $(this).children().each(function () {
            totalHeight += $(this).outerHeight(true);
        });
        totalHeight += parseInt($('.attraction-item.active .content').css('paddingTop'));
        totalHeight += parseInt($('.attraction-item.active .content').css('paddingBottom'));
        $(this).css('height', totalHeight + 'px');
    });*/

    $('a.accordion-trigger').on('click', function () {
        var $link = $(this);
        var $parent = $link.closest('.attraction-item');

        if (!$parent.hasClass('.active')) {
            $('section#atrakcje-regionow .attraction-item').removeClass('active');
            $parent.addClass('active');

            //scroll to section
            $body.animate({
                scrollTop: $('section#atrakcje-regionow').offset().top
            }, {
                duration: 1000,
                step: function (now, fx) {
                    if (now == fx.end) {
                        $(this).stop();
                    }
                }
            });
        }

        return false;
    });
</script>