@{
    ViewBag.Title = "Polityka prywatności";
}


<div class="staticbox" id="cookies">
	<h1>POLITYKA PRYWATNOŚCI</h1>
	<h3>Informacje o plikach cookies („ciasteczkach”)</h3>
	
	<p><strong>
	Naszym celem jest dostosowanie produktu do Państwa potrzeb. 
By to osiągnąć  nasz  Serwis używa plików cookies. Poniższy dokument określa zasady przechowywania i dostępu do informacji za pomocą niewielkich plików potocznie zwanych „ciasteczkami”, na Państwa urządzeniach. 
	</strong></p>
	
	<br><br>
	<p>
		<span class="highlight_bold">Pliki cookies (tzw. ciasteczka)</span> - oznaczają dane informatyczne, a w szczególności niewielkie pliki tekstowe zapisywane i przechowywane na urządzeniach za pośrednictwem których Internauta korzysta ze stron internetowych Serwisu. 
		Pliki zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu Internauty oraz unikalny numer.
		<br><br>
		<span class="highlight_bold">Właściciel serwisu (Administrator)</span> – podmiot zamieszczający na urządzeniu Internauty pliki cookies oraz uzyskuje do nich dostęp. 
	</p>
	<br><br>
	<h3>Rodzaje wykorzystywanych plików cookies:</h3>
	<p>Informujemy, że pliki Cookies są bezpieczne dla urządzenia Internauty. Nie jest możliwe,
	 by poprzez „ciasteczka” przedostały się wirusy lub inne, niechciane, złośliwe oprogramowania. Cookies pozwalają zidentyfikować oprogramowanie wykorzystywane przez Internautę i dostosować serwis indywidualnie każdemu odbiorcy. Pliki najczęściej zawierają nazwę domeny, z której pochodzą czas przechowywania ich na urządzeniu oraz przypisaną wartość.
	</p>
	
	<br><br>
	<h3>Właściciel serwisu (Administrator) wykorzystuje dwa typy rodzajów cookies:</h3>
	
	<p>
		<span class="highlight_bold">Cookies sesyjne:</span> przechowywane są na urządzeniu Internauty i pozostają tam do momentu zakończenia sesji danej przeglądarki, wylogowania lub opuszczenia strony internetowej. Zapisane informacje są wówczas trwale usuwane z pamięci urządzenia. Mechanizm cookies sesyjnych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z urządzenia Internauty.
		<br><br>
		<span class="highlight_bold">Cookies trwałe:</span> przechowywane są na urządzeniu Internauty i pozostają tam do momentu ich skasowania. Zakończenie sesji danej przeglądarki lub wyłączenie urządzenia nie powoduje ich usunięcia z urządzenia Internauty. Mechanizm cookies trwałych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z urządzenia Internauty. 
	</p>
	
	
	
	<br><br>
	<h3>Właściciel serwisu (Administrator) wykorzystuje pliki cookies w następujących celach:</h3>
	
	<p>
		<span class="highlight_bold">Konfiguracji serwisu</span> - dostosowanie zawartości stron internetowych serwisu do preferencji Internauty i optymalizacji korzystania ze stron serwisu. To wiąże się z rozpoznaniem urządzenia oraz jego indywidualnych potrzeb tj. wybranie języka lub regionu, z którego pochodzi Internauta, rodzaju czcionki oraz wyglądu strony internetowej. Zapamiętaniem ustawień urządzenia wybranych przez Internautę oraz personalizacji interfejsu. 
		<br><br>
		<span class="highlight_bold">Prowadzenia statystyk</span> – tworzenie anonimowych statystyk, które pozwolą zrozumieć, w jaki sposób Internauta, użytkowników serwisu korzysta ze strony internetowej, co przyczyni się w przyszłości do ulepszenia struktury i zawartości serwisu. 
		<br><br>
		<span class="highlight_bold">Bezpieczeństwa</span> – zapewnienie bezpieczeństwa i niezawodności serwisu. 
		<br><br>
		<span class="highlight_bold">Utrzymania sesji</span> – Internauta, użytkownik serwisu nie musi za każdym razem wpisywać loginu i hasła podczas logowania do serwisu. 
	</p>
	
	
	<br><br>
	<h3>Wykorzystanie plików cookies zewnętrznych:</h3>
	
	<p>Właściciel serwisu (Administrator) wykorzystuje pliki cookies zewnętrzne do prezentowania treści multimedialnych na stronach internetowych serwisu, które pobierane są z zewnętrznego serwisu internetowego:
		<br>- <span class="highlight_bold">www.youtube.com</span> (administrator cookies: Google Inc z siedzibą USA)
	</p>
		<br>
	<p>Zbierania ogólnych i anonimowych danych statystycznych za pośrednictwem narzędzi analitycznych:
		<br>- <span class="highlight_bold">Google Analytics</span> (administrator cookies: Google Inc z siedzibą w USA)
	</p>
	
	<br><br>
	<h3>Zarządzanie plikami cookies</h3>
	
	<ul>
		<li>Internauta może ograniczyć lub wyłączyć dostęp plików cookies do swojego urządzenia. W przypadku, gdy Internauta zmieni opcje przeglądarki internetowej, co spowoduje zablokowanie plików cookies przeglądanie i w pełni korzystanie z serwisu będzie możliwe poza funkcjami wymaganymi przez „ciasteczka”.  </li>
		<li>Ograniczenia lub zablokowanie plików cookies może wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych serwisu.</li>
		<li>
			W celu zarządzania ustawieniami cookies Internauta powinien wybrać z poniżej listy przeglądarkę, z której korzysta i wybrać opcje zarządzania plikami cookies. Prosimy  o postępowanie zgodnie z instrukcjami:
			<ul>
				<li>Internet Explorer</li>
				<li>Chrome</li>
				<li>Safari</li>
				<li>Firefox</li>
				<li>Opera</li>
				<li>Android</li>
				<li>Safari (iOS)</li>
				<li>Windows Phone</li>
			</ul>
		</li>
		
	</ul>
	
</div>
