@{
    ViewBag.Title = "Nasza Oferta";
}

<div class="staticbox" id="naszaoferta">
    <h1>Nasza oferta</h1>

	<p><strong>Serwis internetowy Wczasy24.com.pl to nowoczesny i funkcjonalny serwis branży turystyczno-noclegowej w Polsce. U nas znajdą Państwo zawsze aktualne oferty oraz informacje niezbędne do zaplanowania swojego wyjazdu. Dodatkowo będą mogli Państwo zapoznać się z atrakcjami regionu, w który wybierają się Państwo na wypoczynek.</strong>
		<br><br>
		Serwis Wczasy24.com.pl umożliwia właścicielom kwater prywatnych, hoteli oraz ośrodków wypoczynkowych łatwe i szybkie zamieszczanie swoich ofert dzięki prostemu i intuicyjnemu systemowi dodawania treści z podglądem na żywo.
	</p>
	
	<hr style="margin:40px 0;">
	
	<h3>Prezentacja obiektu</h3>
	
	<p>Dodając ofertę swojego obiektu mają Państwo możliwość zamieszczenia wszystkich najważniejszych informacji, jakie mogą zachęcić Internautów do skorzystania z Państwa oferty. W trakcie edycji danych mogą Państwo w każdej chwili zweryfikować wygląd dodanych treści, <span class="highlight_bold">dzięki wygodnemu systemowi podglądu i edycji na żywo.</span></p> 
	
	<div class="oferta_box">
		<div class="half_oferta">
			<img src="/Images/oferta_pdf_ico.png" />
			<h4>Oferta w formacie PDF</h4>
			<p>Przyjazna Internaucie opcja drukowania interesującej oferty oraz możliwość jej pobrania w formie PDF</p>
		</div>
		
		<div class="half_oferta">
			<img src="/Images/oferta_gallery_ico.png" />
			<h4>Galeria zdjęć</h4>
			<p>Galeria z możliwością dodania <span class="highlight_bold">dowolnej</span> ilości zdjęć, w najpopularniejszych formatach</p>
		</div>
		<div class="clearfix"></div>
		<div class="half_oferta">
			<img src="/Images/oferta_ico_ico.png" />
			<h4>Ikonografika</h4>
			<p>Najważniejsze cechy obiektu dostępne w formie oryginalnych ikon, które będą mogli Państwo skomponować podczas dodawania obiektu</p>
		</div>
		
		<div class="half_oferta">
			<img src="/Images/oferta_location_ico.png" />
			<h4>Precyzyjna lokalizacja obiektu</h4>
			<p>Z możliwością oznaczenia na mapie Google nie tylko obiektu, ale również ważnych bądź ciekawych miejsc w okolicy</p>
		</div>
		<div class="clearfix"></div>
		<div class="half_oferta">
			<img src="/Images/oferta_folder_ico.png" />
			<h4>Dodatkowy dowolnie modyfikowalny box</h4>
			<p>W którym mogą Państwo zamieścić np. film przedstawiający Państwa ofertę lub informację o ofercie specjalnej oraz dodatkowych atrakcjach, z których mogą skorzystać Goście decydujący się na pobyt u Państwa</p>
		</div>
		
		<div class="half_oferta">
			<img src="/Images/oferta_opinia_ico.png" />
			<h4>Opinie</h4>
			<p>Ponieważ rekomendacje są ważne przy wyborze miejsca noclegu, Internauci będą mogli dodawać komentarz do Państwa obiektu, co wpłynie pozytywnie na wybór Państwa oferty przez innych</p>
		</div>
	</div>
	<div class="clearfix"></div>
	
	<p style="margin-bottom:30px;">Każdy kto zamieści ofertę swojego obiektu na naszej stronie, otrzyma dostęp <span class="highlight_bold">do szczegółowych statystyk oglądalności</span> wpisu, dzięki czemu będą Państwo mogli na bieżąco sprawdzać ile osób odwiedziło Państwa obiekt na stronie Wczasy24.com.pl.
	<br><br>
	Dla Państwa wygody, za zamieszczenie swojego obiektu na naszej stronie, mogą Państwo zapłacić <span class="highlight_bold">za pomocą szybkich i bezpiecznych płatności online – PayU.</span></p>
	
	<hr style="margin:40px 0;">
	
	<h3>Promocja obiektu</h3>
	
	<p>Dla wszystkich, którzy zamieszczą swoją ofertę na naszej stronie przygotowaliśmy specjalne pakiety reklamowe:</p>
	
	
	<div class="promocje_obiektu">
		<div class="img_box">
		<h4>Wyróżnienie obiektu na stronie głównej</h4>
		<a href="/Images/home_promo.jpg" data-lightbox="payment"><img src="/Images/home_promo.jpg" /></a>
		<p>Promowane w ten sposób oferty wyświetlają się na stronie głównej dzięki czemu zawsze są widoczne dla odwiedzających serwis. Promowanych jest X ofert wyświetlanych losowo.</p>
		</div>
		
		<div class="img_box">
		<h4>Umieszczenie reklamy obiektu na szpalcie bocznej</h4>
		<a href="/Images/sidebar_promo.jpg" data-lightbox="payment"><img src="/Images/sidebar_promo.jpg" /></a>
		<p>W ramach usługi Państwa obiekt zawsze znajdzie się na najwyższych pozycjach na liście ofert danego województwa i miejscowości i będzie wyróżniony specjalnym kolorem. Kolejność wyświetlania wyróżnionych obiektów jest losowa.</p>
		</div>
		
		<div class="img_box">
		<h4>Umieszczenie reklamy obiektu na szpalcie bocznej</h4>
		<a href="/Images/search_promo.jpg" data-lightbox="payment"><img src="/Images/search_promo.jpg" /></a>
		<p>Przewijany boks reklamowy o wymiarach …x… wyświetlany na stronie głównej, stronie województwa i stronie miejscowości. Składa się ze zdjęcia głównego, nazwy ośrodka i nazwy miejscowości. Promowanych jest X ofert wyświetlanych losowo.</p>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<p style="padding-top:30px;">Obecność w tak widocznych miejscach daje większe szanse na pozyskanie Klientów!
	<br><br>
	<span class="highlight_bold">Już wkrótce zaoferujemy również możliwość stworzenia własnej nowoczesnej strony WWW typu one site zupełnie za darmo!</span></p>
	
</div>
