@{
    ViewBag.Title = "ONas";
}

<div class="staticbox" id="o_nas">
	<h1>O nas</h1>
	
	<p style="text-align:justify;"><strong>Portal Wczasy24.com.pl to użyteczna baza informacji dla wszystkich poszukujących miejsc noclegowych w Polsce. Naszą ofertę kierujemy także do właścicieli obiektów wypoczynkowych, hoteli, kwater prywatnych i apartamentów, którzy mogą zamieszczać na naszej stronie reklamy swoich obiektów. Celem portalu Wczasy24.com.pl jest również promocja usług turystycznych i piękna naszego kraju oraz rekomendowanie najlepszych ofert.
	Dzięki dużemu zaangażowaniu administratorów portalu i szerokiemu wyborowi ofert noclegowych, użytkownicy naszego portalu mają szansę dokonać wyboru najlepszego możliwego noclegu a dzięki temu dobrze spędzić urlop.</strong>
	<br><br>
	Na naszym portalu znajdziecie Państwo oferty noclegów w miejscowościach położonych nad Bałtykiem, w polskich górach oraz nad jeziorami. Nie zabraknie również ofert z największych miast Polski takich jak Kraków, Poznań czy Wrocław. Staramy się by użytkownicy naszego serwisu mieli do wyboru wiele opcji noclegów, dlatego też na portalu znajdą się oferty hosteli, hoteli, pensjonatów jak również kwater prywatnych. Już od kilku lat z powodzeniem zajmujemy się gromadzeniem obiektów noclegowych w Polsce dlatego też zapewniamy, iż na naszej stronie oferty noclegowe znajdą zarówno single jak i całe rodziny.
	</p>
	<br>
	
	<p class="highlight_bold">W bazie Wczasy24.com.pl znajdziecie Państwo oferty noclegów w najpiękniejszych polskich kurortach, idealnych na zimowe wypady na narty:</p>
	<br>
	<ul>
		<li>Zakopane noclegi</li>
		<li>Białka Tatrzańska noclegi</li>
		<li>Bukowina Tatrzańska noclegi</li>
		<li>Wisła noclegi</li>
		<li>Szczyrk noclegi</li>
		<li>Poronin noclegi</li>
		<li>Szczawnica noclegi</li>
		<li>Szklarska Poręba noclegi</li>
		<li>Krynica Zdrój noclegi</li>
		<li>Karpacz noclegi</li>
		<li>Biały Dunajec noclegi</li>
		<li>Kościelisko noclegi</li>
	</ul>
	
	<br>
	<p class="highlight_bold">Dla fanów nadmorskiego klimatu doskonałym wyborem okażą się:</p>
	<br>
	<ul>
		<li>Władysławowo noclegi</li>
		<li>Łeba noclegi</li>
		<li>Ustka noclegi</li>
		<li>Mielno noclegi</li>
		<li>Jastrzębia Góra noclegi</li>
		<li>Kołobrzeg noclegi</li>
		<li>Ustronie Morskie noclegi</li>
		<li>Gdańsk noclegi</li>
		<li>Gdynia noclegi</li>
		<li>Sopot noclegi</li>
	</ul>
	
	<br>
	<p class="highlight_bold">Z kolei dla osób zakochanych w Mazurach odpowiednim wyborem będą:</p>
	<br>
	<ul>
		<li>Giżycko noclegi</li>
		<li>Mrągowo noclegi</li>
		<li>Mikołajki noclegi</li>
		<li>Augustów noclegi</li>
		<li>Ruciane Nida noclegi</li>
		<li>Szczytno noclegi</li>
		<li>Węgorzewo noclegi</li>
		<li>Ełk noclegi</li>
	</ul>
	<br>
	
	<p class="highlight_bold">Dzięki serwisowi Wczasy24 najlepszą ofertę noclegową znajdą Państwo w łatwy i szybki sposób. Pomocne w tym będą:</p>
	<br>
	<ul>
		<li><strong>Wyszukiwarka</strong> – dzięki której znajdą Państwo nocleg w miejscu, które Państwa interesuje,</li>
		<li><strong>Porównywarka ofert</strong> – pozwoli sprawdzić, która z ofert na naszej stronie spełnia Państwa oczekiwania w większym stopniu,</li>
		<li><strong>Przejrzysty układ treści</strong> – dzięki któremu niezbędne informacje znajduje się wyjątkowo szybko,</li>
		<li><strong>Przyjazny wygląd ofert</strong> - każda oferta dostępna na naszym serwisie opatrzona jest galerią zdjęć danego obiektu, dzięki czemu mogą Państwo zobaczyć jak wygląda interesująca kwatera i podjąć całkowicie świadomą decyzję gdzie wybrać się na urlop.</li>
	</ul>
	<br>
	<hr>
	<p>Nasz portal to nie tylko korzyść dla turystów, którzy mogą zdecydowanie szybciej znaleźć nocleg na czas swojego urlopu. Z naszej strony z powodzeniem korzystają również pensjonaty, hotele, właściciele prywatnych kwater. Dzięki obecności na naszej stronie szansa na znalezienie chętnych na nocleg zdecydowanie wzrasta. Wczasy24.com.pl to portal idealny dla każdego.</p>
	
</div>
