@{
    ViewBag.Title = "Regulamin";
}

<div class="staticbox" id="regulamin">
	<h1>Regulamin</h1>
	
	<p><strong>Niniejszy dokument (zwany dalej Regulaminem) określa sposób korzystania z usług portalu wczasy24.com.pl, przez podmiot zwany dalej Klientem zamawiający usługę – ogłoszenie, zakres odpowiedzialności klienta i właściciela strony zwanego dalej Administratorem, prawa i obowiązki wyżej wymienionych podmiotów oraz wszelkie inne informacje porządkowe.</strong></p>
	
	<h3>§1<br>Definicje</h3>
	
	<ul>
		<li>Użytkownik - oznacza ono pełnoletnią osobę korzystającą z Serwisu.</li>
		<li>Klient - oznacza ono użytkownika korzystającego z odpłatnej usługi publikowania ogłoszeń w Serwisie.</li>
		<li>Administrator – oznacza ono właściciela strony tj. firmę MAJKOM Michał Janczur z siedzibą w Warszawie (01-882), przy ul. Stefana Żeromskiego 21/62.</li>
		<li>Konto użytkownika - oznacza ono miejsce w Serwisie, w którym zarejestrowany Użytkownik może wprowadzać i edytować swoje dane.</li>
		<li>Konto klienta – oznacza ono spersonalizowany panel administracyjny, z poziomu którego może zamieszczać swoje ogłoszenia, zmieniać je i nimi zarządzać.</li>
		<li>System/Serwis – oznacza ono zbiór elementów i powiązań miedzy elementami, składającymi się na kompletną usługę internetową, dostępną pod adresem http://www.wczasy24.com.pl</li>
		<li>Obiekt noclegowy - oznacza ono każdy hotel, motel, pensjonat, apartament, kwaterę bądź inną placówkę prezentowaną w serwisie www.wczasy24.com.pl</li>
		<li>Dane osobowe – oznacza ono dane osobowe w rozumieniu przepisów ustawy z dnia 29 sierpnia 1997r. o ochronie danych osobowych (Dz. U. z 2002r., Nr 101, poz. 926 ze zm.)</li>
	</ul>
	
	
	<h3>§2<br>Świadczenie usług</h3>
	
	<ul>
		<li>Usługi oferowane w Serwisie dzielą się na usługi płatne i nieodpłatne.</li>
		<li>Rodzaj, zakres i ceny usług określone są w ofercie i dostępne są na stronach Serwisu.</li>
	</ul>
	
	
	<h3>§3<br>Rejestracja i korzystanie z Konta klienta</h3>
	
	<ul>
		<li>Aby mieć możliwość dodawania obiektów noclegowych należy zarejestrować się przez formularz rejestracyjny wybierając opcję "właściciel obiektu".</li>
		<li>Po poprawnej rejestracji Klient otrzymuje dostęp do spersonalizowanego panelu administracyjnego (konta klienta), z poziomu którego może zamieszczać swoje ogłoszenia, zmieniać je i nimi zarządzać.</li>
		<li>Ogłoszenie staje się aktywne w momencie zaksięgowania wpłaty abonamentowej.</li>
		<li>Dodanie ogłoszenia na stronie www.wczasy24.com.pl wiąże się z akceptacją regulaminu i następuje za pośrednictwem Administratora, bądź samodzielnie przez Klienta.</li>
		<li>Klient zobowiązany jest do podania prawidłowych danych kontaktowych (imię, nazwisko, adres, numer telefonu).</li>
		<li>Klient jest zobowiązany do zachowania w tajemnicy swojego hasła. Jakiekolwiek działania podjęte przy użyciu prawidłowego hasła będą traktowane tak, jakby dokonał ich Klient.</li>
		<li>Administrator ma prawo do wysyłania na podany przez Klienta adres e-mail informacji o wprowadzanych w Serwisie zmianach.</li>
	</ul>
	
	
	
	<h3>§4<br>Rejestracja i korzystanie z Konta użytkownika</h3>
	
	<ul>
		<li>Warunkiem rozpoczęcia korzystania z Serwisu jest akceptacja niniejszego regulaminu.</li>
		<li>Użytkownik zobowiązany jest wypełnienia formularza rejestracyjnego.</li>
		<li>Użytkownik jest zobowiązany do zachowania w tajemnicy swojego hasła. Jakiekolwiek działania podjęte przy użyciu prawidłowego hasła będą traktowane tak, jakby dokonał ich Użytkownik.</li>
		<li>Administrator ma prawo do wysyłania na podany przez Użytkownika adres e-mail informacji o wprowadzanych w Serwisie zmianach.</li>
	</ul>
	
	
	<h3>§5<br>Wyłączenia odpowiedzialności</h3>
	
	<ul>
		<li>Administrator nie ponosi odpowiedzialności za treść ogłoszenia oraz zawarte w nim zdjęcia. Jednocześnie zastrzega sobie prawo do usunięcia niedozwolonych treści.</li>
		<li>Administrator nie ponosi odpowiedzialności za ewentualne problemy wynikające z opóźnień zawinionych przez osoby trzecie (banki, poczta, operatorzy telekomunikacyjni), oraz treści zawartych w prezentacji.</li>
		<li>Jeżeli zaistnieje konieczność czasowego odłączenia dostępu do pewnych usług, Administrator zobowiązuje się do poinformowania o tym swoich Klientów z odpowiednim wyprzedzeniem (nie później niż 48 godzin od wystąpienia problemu).</li>
		<li>Administrator nie ponosi odpowiedzialności za szkody powstałe w wyniku:
			<ul>
				<li>Podania nieprawdziwych lub niepełnych informacji przy rejestracji,</li>
				<li>Braku ciągłości świadczenia usług niezawinione przez Administratora,</li>
				<li>Nie dotrzymania warunków niniejszego regulaminu przez Klienta,</li>
				<li>Działania czynników i osób trzecich (np. awarie kabla, sprzętu lub oprogramowania)</li>
			</ul>
		</li>
		<li>Administrator nie odpowiada za żadne ewentualne szkody, poniesione przez Użytkownika na skutek korzystania z Serwisu.</li>
	</ul>
	
	
	<h3>§6<br>Prawa i obowiązki</h3>
	
	<ul>
		<li>Użytkownik, w tym każdy Klient, ma obowiązek przestrzegania Regulaminu. W razie stwierdzenia łamania przez Użytkownika bądź Klienta, Regulaminu lub obowiązujących przepisów prawa m.in. poprzez dokonywanie wpisów noszących znamiona czynów nieuczciwej konkurencji, powszechnie uważanych za obraźliwe, naruszających dobre obyczaje, prawa autorskie lub inne prawa własności intelektualnej, szkodzących dobremu imieniu lub renomie Administratora bądź współpracujących z nim podmiotów jak również wprowadzających w błąd, Administrator ma prawo zablokować lub usunąć Użytkownika bądź Klienta z Systemu i nie zezwolić na ponowną jego rejestrację. W razie wykrycia nielegalnych treści, tj. pornografii dziecięcej, zdjęć chronionych prawem autorskim itp., Administrator ma prawo przekazać logi serwera organom ścigania.</li>
		<li>Zabronione jest korzystanie z serwisu wczasy24.com.pl w sposób niezgodny z polskim prawem.</li>
		<li>Administrator nie będzie akceptował zdjęć słabej jakości (np. zdjęcia zbyt ciemne lub niewyraźne, zamazane lub częściowo zakryte twarze/oczy osób, fotografie zbyt ostre, prześwietlone) lub zdjęć o zbyt małych rozmiarach, które obniżają atrakcyjność Serwisu.</li>
	</ul>
	
	<h3>§7<br>Prawa autorskie</h3>
	
	<ul>
		<li>Klient oświadcza, iż przysługują mu autorskie prawa majątkowe do wszystkich zamieszczonych przez niego w serwisie (systemie) zdjęć.</li>
		<li>Użytkownik oświadcza, iż przysługują mu autorskie prawa majątkowe do wszystkich zamieszczonych przez niego w serwisie (systemie) zdjęć.</li>
		<li>Klient udziela Administratorowi niewyłącznej, nieodpłatnej, nieograniczonej czasowo licencji na kopiowanie, wprowadzenie zmian, rozpowszechnianie zdjęć oraz publiczną ich prezentację celem udostępniania w Serwisie.</li>
		<li>Użytkownik udziela Administratorowi niewyłącznej, nieodpłatnej, nieograniczonej czasowo licencji na kopiowanie, wprowadzenie zmian, rozpowszechnianie zdjęć oraz publiczną ich prezentację celem udostępniania w Serwisie.</li>
		<li>W przypadku wystąpienia z roszczeniami w stosunku do serwisu przez osoby trzecie z tytułu naruszenia ich praw przez wykorzystanie fotografii nadesłanej przez Użytkownika bądź Klienta, przejmie on (Użytkownik bądź Klient) na siebie w całości koszty ewentualnego postępowania sądowego, koszty zastępstwa procesowego oraz zasądzonych lub ustalonych w drodze ugody odszkodowań.</li>
		<li>Serwis w żaden sposób nie ponosi odpowiedzialności za nieautoryzowane wykorzystanie przez osoby trzecie umieszczonych w Serwisie zdjęć. Wszelką odpowiedzialność ponosi Użytkownik bądź Klient.</li>
	</ul>
	
	<h3>§8<br>Dane osobowe</h3>
	
	<ul>
		<li>Klient wyraża zgodę na przetwarzanie przez Administratora danych osobowych podanych podczas rejestracji konta w celach służących wywiązaniu się Administratora ze świadczonych usług, wystawienia dowodów księgowych.</li>
		<li>Klient oświadcza, iż wie o swoim prawie do wglądu oraz poprawiania własnych danych osobowych. Administrator zobowiązuje się do przestrzegania tajemnicy związanej z danymi Klienta. </li>
		<li>Dane Klienta są zastrzeżone i nie są udostępniane osobom trzecim.</li>
		<li>Modyfikacja Danych w Usłudze Strony WWW jest możliwa za pomocą panelu administracyjnego Usługi Strony WWW.</li>
		<li>Użytkownik wyraża zgodę na przetwarzanie przez Administratora danych osobowych podanych podczas rejestracji konta w celach służących wywiązaniu się Administratora ze świadczonych usług, wystawienia dowodów księgowych.</li>
	</ul>	
	
	<h3>§9<br>Abonament</h3>
	
	<ul>
		<li>Wysokość opłaty abonamentowej jak również okres trwania abonamentu określony jest w cenniku, który znajduje się pod adresem <a href="/cennik.html">http://www.wczasy24.com.pl/cennik.html</a>.</li>
		<li>Rezygnacja z usług świadczonych przez Administratora przed upływem ważności abonamentu, nie pociąga za sobą zwrotu proporcjonalnej kwoty abonamentu.</li>
		<li>Wniesienie opłaty abonamentowej uniezależnia Klienta od zmian stawek, tzn., że ewentualne obniżki lub podwyżki nie dotyczą Klienta do końca trwania opłaconego okresu abonamentowego.</li>
		<li>Klient może zakończyć współpracę z Administratorem w dowolnym momencie, godząc się jednocześnie na utratę wniesionej opłaty abonamentowej.</li>
		<li>Przelewów można dokonywać za pomocą internetowych płatności – narzędzia znajdującego się na stronie www.wczasy24.com.pl, bądź za pośrednictwem przelewów internetowych, w banku lub przekazem pocztowym.</li>
	</ul>
	
	<h3>§10<br>Postanowienia końcowe</h3>
	
	<ul>
		<li>Użytkownik wyraża zgodę na otrzymywanie informacji handlowych w rozumieniu Ustawy z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną (Dz. U. Nr 144, poz. 1204) na adres e-mail podany podczas rejestracji.</li>
		<li>Wszelkie reklamacje dotyczące korzystania z Serwisu należy zgłaszać drogą elektroniczną pod adresem <a href="/kontakt">www.wczasy24.com.pl/kontakt</a>.</li>
		<li>Wszelkie kwestie sporne będą rozwiązywane na drodze negocjacji między Użytkownikiem i Administratorem.</li>
		<li>Jeśli negocjacje, o których mowa w punkcie poprzedzającym, nie przyniosą rezultatu, właściwym do rozstrzygnięcia sporu jest sąd powszechny właściwy miejscowo dla siedziby Administratora.</li>
		<li>Niniejszy Regulamin obowiązuje od dnia ……….</li>
		<li>Wszelkie zmiany w niniejszym Regulaminie, a także jego nowe wersje, wchodzą w życie w chwili ich opublikowania w Systemie.</li>
	</ul>
	
</div>
